<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block seo_description %}MyBlog{% endblock %}">
    <meta name="keywords" content="{% block seo_keywords %}MyBlog{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}MyBlog{% endblock %}</title>


    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MyBlog</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {#<li ><a href="#">Home</a></li>#}
                    {#<li><a href="#about">About</a></li>#}
                    <li><a href="{{ path('blog_index') }}">Blog</a></li>
                    {#<li><a href="#contact">Contact</a></li>#}
                    {#<li class="dropdown">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li><a href="#">Action</a></li>#}
                            {#<li><a href="#">Another action</a></li>#}
                            {#<li><a href="#">Something else here</a></li>#}
                            {#<li class="divider"></li>#}
                            {#<li class="dropdown-header">Nav header</li>#}
                            {#<li><a href="#">Separated link</a></li>#}
                            {#<li><a href="#">One more separated link</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">Вход</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>


    <div class="container">

        <h1>{% block heading %}Heading{% endblock %}</h1>

        {% block body %}{% endblock %}

    </div> <!-- /container -->

    <div id="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </div>

    {% block javascripts %}
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/init.js') }}"></script>
    {% endblock %}

</body>
</html>